.venv/
env/
venv/

__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

.DS_Store
Thumbs.db

*.so
*.pyd
*.dll
*.dylib
*.o
*.obj
*.a
*.lib
*.exp

pdqhash/bindings.c
pdqhash/bindings.cpp

*.cinclude

ThreatExchange/pdq/cpp/common

.vscode/
.idea/
*.swp
