include LICENSE
include README.md

recursive-include pdqhash *.py *.pyx *.pxd

recursive-include ThreatExchange/pdq/cpp *.h *.hpp *.cpp
recursive-include ThreatExchange/pdq *.h *.hpp
include ThreatExchange/LICENSE

recursive-exclude * *.so *.dll *.dylib *.pyd *.o *.obj *.a *.lib